body {
  background: peachpuff;
}

.a{
  height: 20px;
  width: 100px;
  border: 2px solid black;

}


.b, .c, .d {
  height: 20px;
  width: 15px;
  border: 2px solid black;
}
.row1 {
  display: inline-flex;
}

.e, .f, .g {
  height: 20px;
  width: 15px;
  border: 2px solid black;

}
.row2 {
  height: 20px;
  width: 45px;
  display: inline-flex;
flex-direction: row;
}

.h{
  height: 40px;
  width: 15px;
  border: 2px solid black;
}