body {
  background: papayawhip;

}
 /*.c, .e, .f {
  height: 60px;
  width: 100px;
  display: inline-flex;
}*/

.a {
  height: 20px;
  width: 100px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
}

.b{
  height: 20px;
  width: 60px;
  border: 2px solid black;
}

.c, .d, .e {
  height: 20px;
  width: 15px;
  border: 2px solid black;
  display:inline-flex;
}

.f{
  display: flex;
  float: right;
  margin-right: 1300px;
  height: 40px;
  width: 55px;
  border: 2px solid black;
}

